.taLightbox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.taLightbox_bg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, .2);
}

.taLightbox_container {
  position: absolute;
  width: 300px;
  border: 1px solid #dddddd;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.taLightbox_title {
  background: #808080;
  color: #dddddd;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  min-height: 32px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}

.taLightbox_close {
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0px;
  width: 22px;
  height: 22px;
  background: url('../images/close-back.png');
  cursor: pointer;
  outline: none;
}

.taLightbox_content {
  min-height: 90px;
  background: white;
}

@media only screen and (max-width:400px) {

  .taLightbox_container {
    width: 100%;
  }
}